:root {
    --color-primary: #212121;
    --color-second: #757575;
    --color-active: #2196f3;
    --color-background: #f5f4fa;
    --color-fone: #fff;
    --color-logo: #000;
    --color-backdark: #2f303a;
    --color-hero: #188ce8;
    --color-svg: #afb1b8;
    --main-font: "Roboto", sans-serif;
    --shift: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }