/*Секція Постійні клієнти*/

.clients__lists {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients__link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  @extend %alignlist;
  justify-content: center;

  color: var(--color-svg);

  transition: color var(--shift), border var(--shift);

  &:hover,
  &:focus {
    border: 1px solid #188ce8;
    color: var(--color-active);
  }
}
.clients__icon {
  fill: currentColor;
  outline: none;
}

