/*Секція Постійні клієнти*/

.clients__lists {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

 
  @media screen and (min-width: 768px) and  (max-width: 1559px) {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 60px;
 }
 @media screen and (min-width: 1600px) {
  display: flex;
  justify-content: center;
  flex-wrap: inherit;
    gap: 0px;
}
}
.clients__item{
 
  @media screen and (min-width: 1600px) {
  margin-right: 30px;
  flex-wrap: inherit;
}
}
.clients__link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  @extend %alignlist;
  justify-content: center;

  color: var(--color-svg);

  transition: color var(--shift), border var(--shift);

  &:hover,
  &:focus {
    border: 1px solid #188ce8;
    color: var(--color-active);
  }
}
.clients__icon {
  fill: currentColor;
  outline: none;
}

